* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #6669;
    border-radius: 20px;
}
  
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

body {
    background: #f6f6f7ff;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.cabecalho {
    background: #e02041;
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    justify-content: space-around;
}

div.pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 5vh;
}

input.pesquisa {
    width: 100%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 100%;
    border: none;
    padding: 5px;
    background: #f6f6f7;
}

input.pesquisa:focus {
    background: #c7c7c7;
}

input.search {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 10%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-image: url(../../images/lupa2.png);
    background-position: center;
    background-size: cover;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #fdf272;
    transition: all 0.2s;
}

input.search:hover {
    background-color: #faeb4b;
    transform: scale(1.05);
}

img.logo {
    height: 7vh;
    width: 4.2vw;
    cursor: pointer;
}

img.logo:hover {
    transform: scale(1.05);
}

button.conta {
    height: 50%;
    width: 6%;
    cursor: pointer;
    border: none;
    background: #f6f6f7ff;
    border-radius: 4px;
}

button.conta:hover {
    transform: scale(1.05);
}

div.capaInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #e6e6e6ff;
    width: 80vw;
    height: 65vh;
    margin: 10px;
    border-radius: 4px;
}

div.capa {
    margin: 10px 10px 10px 15px;
    height: 60vh;
}

img.capa {
    height: 100%;
}

div.info {
    width: 90%;
    height: 60vh;
    margin: 10px 15px 10px 10px;
    background: rgb(211, 211, 211);
    border-radius: 4px;
}

.info p {
    margin-left: 10px;
}

.info img.star {
    width: 2%;
    height: 4%;
}

div.notar {
    background: #e6e6e6ff;
    text-align: center;
    width: 80vw;
    height: 20vh;
    margin: 10px;
    border-radius: 4px;
}

div.sinopse {
    width: 80vw;
    min-height: 27vh;
    background: #e6e6e6ff;
    margin: 10px;
    text-align: justify;
    word-wrap: break-word;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
}

div.blogs {
    background: #e6e6e6ff;
    width: 80vw;
    min-height: 30vh;
    margin: 10px;
    padding-left: 25px;
    padding-top: 5px;
    font-weight: bold;
    border-radius: 4px;
}

.blogs p {
    display: block;
    margin-block-start: 0.1px;
    margin-block-end: 0.1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
    color: black;
    width: 10vw;
    cursor: pointer;
}

.blogs a:hover {
    color: dodgerblue;
}

.blogs h2 {
    width: 1vw;
    display: inline-block;
    color: #FC0;
}

.blogs img.star {
    width: 2%;
    height: 2%;
    margin-right: 10px;
}

div.comentarios {
    width: 80vw;
    min-height: 50vh;
    background: #e6e6e6ff;
    margin: 10px;
    padding-left: 20px;
    border-radius: 4px;
}

div.comentar {
    width: 43vw;
    height: 9vh;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img.foto {
    width: 4.5vw;
    height: 100%;
    border-radius: 4px;
}

input.comentar {
    width: 37vw;
    border-radius: 4px;
    height: 80%;
    border: none;
    padding: 5px;
    background: #f6f6f7;
}

input.comentar:focus {
    background: #c7c7c7;
}

div.comentario {
    background: #e6e6e6ff;
    height: 20vh;
    width: 77%;
    text-align: justify;
    word-wrap: break-word;
}

.comentario p {
    margin: 10px 10px 0px 10px;
}

img.like {
    background-image: url(../../images/like.png);
    margin-left: 2px;
    margin-top: 10px;
    width: 1vw;
    height: 2vh;
    cursor: pointer;
}

img.like:hover {
    transform: scale(1.05);
}

img.deslike {
    background-image: url(../../images/deslike.png);
    margin-right: 2px;
    width: 1vw;
    height: 2vh;
    cursor: pointer;
}

img.deslike:hover {
    transform: scale(1.01);
}

button.resp {
    background: #e6e6e6ff;
    border: none;
    cursor: pointer;
}

button.resp:hover {
    transform: scale(1.01);
}

div.usuario {
    width: 15vw;
    height: 6vh;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #e6e6e6ff;
}

img.fotoComent {
    width: 3vw;
    height: 100%;
    border-radius: 4px;
    margin-right: 10px;
}

div.estrelas {
    cursor: pointer;
}

div.estrelas label {
    cursor: pointer;
}

.estrelas input[type=radio] {
    display: none;
  }

.estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
}

.estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
}