div.catLiv {
    margin: 60px 0 30px 0;
}

div.categoria {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 52vh;
    margin-top: 30px;
    background: #e6e6e6ff;
    border-radius: 4px;
}

h3 {
    margin: 20px 0 0 20px;
}

div.livros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

div.capa-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    flex: none;
    cursor: pointer;
    transition: 0.2s;
}

div.capa-titulo:hover{
    transform: scale(1.1);
}

div.text {
    width: 160px;
    margin-top: none;
    word-wrap: break-word;
    text-align: center;
}

img.capa {
    height: 200px;
    margin: 10px;
}