* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #6669;
    border-radius: 20px;
}
  
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
  
body {
    background: #f6f6f7ff;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

div.cabecalho {
    background: #e02041;
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    justify-content: space-around;
}

div.pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 5vh;
}

input.pesquisa {
    width: 100%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 100%;
    border: none;
    padding: 5px;
    background: #f6f6f7;
}

input.pesquisa:focus{
    background: #c7c7c7;
}

input.search {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 10%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-image: url(../../images/lupa2.png);
    background-position: center;
    background-size: cover;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #fdf272;
    transition: all 0.2s;
}

input.search:hover{
    background-color: #faeb4b;
    transform: scale(1.05);
}

img.logo {
    height: 7vh;
    width: 4.2vw;
    cursor: pointer;
}

img.logo:hover {
    transform: scale(1.05);
}

button.conta {
    width: 5%;
    height: 60%;
    cursor: pointer;
    border: none;
    background: #f6f6f7ff;
    border-radius: 4px;
    font-weight: bold;
}

button.conta:hover {
    transform: scale(1.05);
}

div.categoria {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 55vh;
    margin: 10px;
    background: #e6e6e6ff;
}

h3 {
    margin: 20px;
}

div.livros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50vh;
}

div.capa-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    flex: none;
    cursor: pointer;
}

div.capa-titulo:hover{
    transform: scale(1.2);
}

img.capa {
    height: 200px;
    margin: 10px;
}