div.fiLi {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 100vh;
    margin: 15px;
    background: #f6f6f7ff;
    justify-content: space-between;
    border-radius: 4px;
    padding-top: 70px;
}

div.filtros {
    width: 25%;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #e6e6e6ff;
    border-radius: 4px;
    align-self: flex-start;
}

h2 {
    margin-bottom: 15px;
    margin-top: 15px;
}

div.gan {
    background: rgb(211, 211, 211);
    width: 90%;
    min-height: 30vh;
    border-radius: 4px;
    margin-bottom: 15px;
}

h3 {
    text-align: center;
    margin: 20px 20px -5px 20px;
    border-bottom: solid black 1px;
}

div.item {
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 17vw;
}

div.item label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

div.gan input {
    display: none;
}

div.gan input+.check {
    width: 1em;
    height: 1em;
    border: 1.5px solid black;
    border-radius: 3px;
    position: relative;
    transition: 300ms;
    cursor: pointer;
}

div.gan input+.check:before,
div.gan input+.check:after {
    content: " ";
    position: absolute;
    top: 5%;
    left: calc(50% - 1px);
    height: 90%;
    width: 2px;
    background: black;
    transition: 300ms;
    border-radius: 2px;
    --rotate: 0;
    --transX: 0;
    --transY: 0;
    transform: rotate(var(--rotate)) translateX(var(--transX)) translateY(var(--transY));
}

div.gan input+.check:before {
    --rotate: -45deg;
}

div.gan input+.check:after {
    --rotate: 45deg;
}

div.gan input:checked+.check {
    background: #e02041;
    border-color: #e02041;
}

div.gan input:checked+.check:before {
    top: 13%;
    background: #fdf272;
    height: 49.2%;
    --transX: -.35em;
}

div.gan input:checked+.check:after {
    top: 5%;
    background: #fdf272;
    height: 100%;
    --transX: .100em;
    --transY: -.100em;
}

div.livros {
    background: #e6e6e6ff;
    width: 67.5vw;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    align-content: flex-start;
}

div.caTiAu {
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 40vh;
    margin: 10px;
    align-items: center;
    text-align: center;
    background: rgb(211, 211, 211);
    cursor: pointer;
    border-radius: 4px;
    transition: .2s;
}

div.caTiAu:hover{
    transform: scale(1.1);
}

img.capa {
    height: 150px;
    width: 110px;
    margin: 20px 10px 0 10px;
}

p {
    margin-top: 8.4px;
    font-weight: bold;
}